@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MvcMusicStore_Wed_F2017.Models.Genre

<h2>Albums for Genre: @ViewBag.Genre</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Price</th>
        <th>Add to Cart</th>
    </tr>
    @foreach (var a in Model.Albums)
    {
        <tr>
            <td>@a.Title</td>
            <td>@a.Artist.Name</td>
            <td>@string.Format("{0:c}", a.Price)</td>
            <td>@Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { AlbumId = @a.AlbumId }, new { @class = "btn btn-default" } )</td>
        </tr>
    }
</table>
