@model MvcMusicStore_Wed_F2017.Models.ShoppingCartViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping Cart</h2>

@if (Model.CartTotal == 0)
{
    <h4>Your Cart is Empty. Click Store to begin Shopping.</h4>
}
else { 
    <table class="table table-striped table-hover">
        <tr>
            <th>Album</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Remove</th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.Album.Title</td>
                <td>@String.Format("{0:c}", item.Album.Price)</td>
                <td>@item.Count</td>
                <td>@Html.ActionLink("Remove", "RemoveFromCart", "ShoppingCart", new { AlbumId = item.AlbumId }, null)</td>
            </tr>
        }
        <tr>
            <td>Total</td>
            <td>@String.Format("{0:c}", Model.CartTotal)</td>
            <td></td>
            <td>@Html.ActionLink("Checkout", "AddressAndPayment", "ShoppingCart", null, new { @class = "btn btn-default" })</td>
        </tr>
    </table>
}
